<header class="limited-width clearfix">
    <div class="logo-container">
        <a class="logo" href=#>
            <img src="./../../../../public/images/angular.png" alt="company logo">
            <span>Angular</span>
        </a>
    </div>
    <div *ngIf="isUserAuthenticated" class="course_container">
        <a href="#" class="btn btn_link">Courses</a>
    </div>
    <div *ngIf="isUserAuthenticated" class="login-container">
        <p>{{userLogin}}</p>
        <a href="#" (click)="AuthService.logout()">logoff</a>
    </div>
</header>
